<!--
/**
* created by Florian Moser
* created: 05.11.2018
*/
 -->

<link rel="stylesheet" type="text/css" href="client/home.template.css">
<div class="container margin-top">
    <h1>Home</h1>
    <hr>
    <div class="row margin-top">
        <div class="col-xl-6 border-right">
            <!-- TODO adapt the link below -->
            <script>
                document.write(
                    '<a href="createprojectidea?projectpool='+getCookie('projectpool')+'"><button type="button" class="btn btn-outline-danger">new project idea</button></a>');
            </script>


        </div>
        <div class="col-xl-6">
            <!-- TODO show all currently existing projects -->
            <h3>Other Project-Ideas</h3>
            <script>
                var projectString = getCookie('projects');
                if (projectString!=='') {
                    var projects = projectString.split('&');
                    console.log(projects);
                    if (projects) {
                        for (i = 0; i < projects.length; i++) {
                            document.write(
                                '<button type="button" class="btn btn-outline-light col-xl-12 margin-top-sm">' + projects[i] + '</button>'
                            );
                        }
                    }
                } else {
                    document.write("Currently no Projects!");
                }


            </script>
        </div>
    </div>
    <div class="row">
        </div>

        <div class="col-xl-6">
            <h3>Other Members in this Pool</h3>
            <script>
                var members = (getCookie('members')).split('&');
                for (i = 0; i < members.length; i++) {
                    document.write(
                        members[i]+'<br>'
                    );
                }
            </script>
        </div>
    </div>
</div>
