<link rel="stylesheet" type="text/css" href="client/home.template.css">

<div class="container margin-top">
    <h1>Home</h1>
    <hr>
    <div class="row margin-top">
        <div class="col-xl-6 border-right">
            <!-- TODO adapt the link below -->
            <a href="create-project-idea.template.php">
                <button type="button" class="btn btn-outline-danger">new project idea</button>
            </a>
        </div>
        <div class="col-xl-6">
            <!-- TODO show all currently existing projects -->
            <h3>Other Project-Ideas</h3>
            <button type="button" class="btn btn-outline-light col-xl-12 margin-top-sm">Project Name</button>
            <button type="button" class="btn btn-outline-light col-xl-12 margin-top-sm">Project Name</button>
            <button type="button" class="btn btn-outline-light col-xl-12 margin-top-sm">Project Name</button>
            <button type="button" class="btn btn-outline-light col-xl-12 margin-top-sm">Project Name</button>
        </div>
    </div>
</div>
